<!DOCTYPE html>
<html>
  <head>
    <title>CoolMalware</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', 'https://cdn.rawgit.com/jgthms/bulma/master/css/bulma.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div class="header">
        <div class="container">
            <div class="header-left">
                <div class="header-item">
                    <a href="/">
                        <strong>Cool Malware</strong>
                    </a>
                </div>
                <a class="header-tab <%= "is-active" if params[:controller] == "home" %>" href="/">
                   Home
                </a>
                <a class="header-tab <%= "is-active" if params[:controller] == "malwares" %>" href="/malwares">
                   Malware 
                </a>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <%= yield %>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            cool malware b
        </div>
    </div>
  </body>
</html>



